:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --key-color-rgb:rgb(238, 77, 45);
    --border-color:#dbdbdb;
    --hover-color:#efefef;

    --navbar-height:34px;
    --header-height:120px;
    --header-search-height:calc(var(--header-height) - var(--navbar-height)) :
}

*{
    box-sizing: inherit;
}

html {
    font-size: 100%;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display:flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__row-banner {
    display:flex;

    margin-left: -5px;
    margin-right: -5px;
}
/* test */
.grid__col-1-8{
    padding-left: 5px;
    padding-right: 5px;
    width: 12.5%;
    display: block;
}
.grid__col-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}
.grid__col-12{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
.grid__col-8{
    padding-left: 5px;
    padding-right: 5px;
    width: 66.667%;
}
.grid__col-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.337%;
}
.grid__col-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.33%;
}
/* 2 col trong col 10 */
.grid__col-10-2{
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}
.grid__col-10-2-4{
    width: 40%;
    padding-left: 5px;
    padding-right: 5px;
}

/* animation */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* growth */
@keyframes growth {
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1);
    }
}
/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    
}
.modal__body{
    margin: auto;
    background-color: white;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    animation: growth linear 0.1s;
}
/* button */
.btn{
    min-width: 124px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    padding: 0 8px;
    cursor: pointer;
    line-height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--primary{
    color: white;
    background-color: var(--key-color-rgb);
}

.btn--disable{
    cursor: default;
}
.btn.btn-size-s{
    height: 32px;
    font-size: 12px;
}
.auth-form-socials-title{
    margin: 0 36px;
}
.auth-form__socials-gg{
    color: orange;
}
.auth-form-socials-title--gg{
    color: #666;
}
/* selection */
.select-input{
    height: 36px;
    position: relative;
    background-color: white;
    border-radius: 2px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
/* pagination */

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-margin{
    margin:50px 0 32px 0;
}
.pagination-item{
    list-style: none;
    margin: 0 6px;
}
.pagination-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.pagination-item--active .pagination-link{
    background-color: var(--key-color-rgb);
    color: white;
}
.pagination-item--active .pagination-link:hover{
    background-color: #ed5c3f;
}